@import url('./main-layout.css');

:root {
    --lumo-primary-color: #223348;
}

vaadin-button.special {
    --lumo-primary-text-color: cyan;
}

vaadin-button{
    --vaadin-button-background : lightgrey;
}

vaadin-vertical-layout.blueborder{
    border: 1px solid blue;
}

vaadin-horizontal-layout.selected{
    border: 1px solid blue;
    background: lightblue;
}

vaadin-grid::part(remark) {
    background-color: yellow;
}

vaadin-grid::part(attachement) {
    background-color: lightblue;
}

vaadin-grid::part(row).bold-row {
    font-weight: bold;
    background-color: lightblue;
}

/*vaadin-app-layout::part(navbar) {*/
/*    background-color: #223348; !* Lichte achtergrond voor de content *!*/
/*}*/

/*vaadin-app-layout::part(navbar) {*/
/*    background-color: white; !* Lichte achtergrond voor de content *!*/
/*}*/

vaadin-split-layout::part(splitter) {
    background-color: #223348;
}

vaadin-split-layout::part(handle){
    width: 10px;
}


vaadin-combo-box::part(input-field) {
    font-weight: bold;
}

/* Wanneer de combobox GEEN placeholder toont (dus waarde ingevuld) */
vaadin-combo-box.highlight-border[has-value]::part(input-field) {
    border: 2px solid green;
}

/* Wanneer de combobox LEEG is (placeholder zichtbaar) */
vaadin-combo-box:not([has-value])::part(input-field) {
    /*border: 2px dashed grey;*/ /* voorbeeld */
}

.attached[checked]::part(checkbox) {
    background-color: black;
    --lumo-primary-contrast-color: black;
}

.my-checkbox[checked]::part(checkbox) {
    background-color: lightgray;
    --lumo-primary-contrast-color: black;
}









