@import url('./main-layout.css');

vaadin-button.special {
    --lumo-primary-text-color: cyan;
}

vaadin-button{
    --vaadin-button-background : lightgrey;
}

vaadin-vertical-layout.blueborder{
    border: 1px solid blue;
}

vaadin-horizontal-layout.selected{
    border: 1px solid blue;
    background: lightblue;
}

vaadin-grid::part(option) {
    background-color: var(--lumo-success-color-10pct);
}

/*vaadin-app-layout::part(navbar) {*/
/*    background-color: #223348; !* Lichte achtergrond voor de content *!*/
/*}*/

/*vaadin-app-layout::part(navbar) {*/
/*    background-color: white; !* Lichte achtergrond voor de content *!*/
/*}*/

vaadin-split-layout::part(splitter) {
    background-color: #223348;
}



